body {
    font-family: Arial;
    text-align: center;
    background: linear-gradient(to right, #141e30, #243b55);
    color: white;
}

form {
    background: rgba(255,255,255,0.1);
    padding: 20px;
    margin: auto;
    width: 300px;
    border-radius: 10px;
}

input, button {
    width: 90%;
    padding: 10px;
    margin: 10px;
}

button {
    background: orange;
    border: none;
    cursor: pointer;
}

table {
    margin: auto;
    background: white;
    color: black;
}

.delete-btn {
    background: none;
    color: red;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.flash.success { background: green; padding:10px; }
.flash.error { background: red; padding:10px; }

.trip-img {
    width: 300px;
    border-radius: 10px;
}
