<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TravelMate Planner</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<p>✈ Plan Smart • 💰 Save Money • 🌍 Travel Better</p>
    <div class="container">
        <h1>🌍 TravelMate Planner</h1>
<p style="font-size:18px;">Plan Smart • Save Money • Travel Better ✈</p>

<a href="/login"><button>Login</button></a>
<a href="/register"><button>Register</button></a>
        </div>
    </div>

</body>
</html>
